* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}


body 
{
      --twitter-color: #50b7f5; 
      --twitter-background:rgb(43, 43, 43);
      background-color: black;
      color: white;
      font-family: sans-serif;
}


.sidebareOption
{
      display: flex;
      align-items: center;
      cursor: pointer;
}

.sidebareOption .material-icons 
{
      font-size: 26px;
      color: white;
}

.sidebareOption .material-icons, 
.fa-twitter 
{
      padding: 15px;
}

.sidebareOption h2 
{
      font-weight: 800px;
      font-size: 20px;
      margin-right: 20px;
}


.sidebareOption:hover 
{
      background-color: var(--twitter-background);
      border-radius: 30px;
      background-color: var(--twitter-background);
      transition: color 100ms ease-out;

}

.sidebareOption.Active 
{
      color: var(--twitter-color);

}


.sidebar__tweet 
{
      width: 100%;
      background-color: var(--twitter-color);
      border: none;
      color: white;
      font-weight: 900;
      border-radius: 30px;
      height: 50px;
      margin-top: 20px;
      font-family: sans-serif;
      font-size: 17px;
      cursor: pointer;

}


body 
{
      display: flex;
      height: 100vh;
      max-width: 1300px;
      margin-left: auto;
      margin-right: auto;
      padding: 0 10px;
}


.sidebar 
{
      border-right: 1px solid var(--twitter-background);
      flex: 0,2;
      min-width: 280px;
      margin-top: 5px;
      padding-left: 20px;
      padding-right: 20px;
}


.fa-twitter 
{
      color: var(--twitter-color);
      font-size: 26px;
}


.feed 
{
      flex: 0,2;
      border-right: 1px solid var(--twitter-background);
      min-width: fit-content;
      overflow-y: scroll;
}


.feed__header 
{
      position: sticky;
      top: 0;
      background-color:black;
      z-index: 100;
      border: 2px solid var(--twitter-background);
      padding: 15px 20px;
}


.feed__header h2 
{
      font-size: 20px;
      font-weight: 800;
}


.feed::-webkit-scrollbar
{
      display: none;
}


.feed 
{
      -ms-overflow-style: none;
      scrollbar-width: none;
}


.tweetbox__input img 
{
      border-radius: 50%;
      height: 40px;
}


.tweetBox 
{
      padding-bottom: 10px;
      border-bottom: 8px solid var(--twitter-background);
      padding-right: 10px;
}


.tweetBox form 
{
      display: flex;
      flex-direction: column; 
} 


.tweetbox__input 
{
      display: flex;
      padding: 20px;

}


.tweetbox__input input 
{
      flex: 1;
      margin-left: 20px;
      font-size: 20px;
      border: none;
      outline: none;
      background-color: black;
      color : white;
}

.tweetBox__tweetButton 
{
      background-color: var(--twitter-color);
      border: none;
      color: white;
      font-weight: 900;
      border-radius: 30px;
      width: 80px;
      height: 40px;
      margin-top: 10px;
      margin-left: auto;
      font-family: sans-serif;
      font-size: 15px;
      cursor: pointer;
}


.post .post__icone img
{
      border-radius: 50%;
      height: 40px;
      cursor: pointer;
}


.post
{
      display: flex;
      align-items: flex-start;
      border-bottom: 1px solid var(--twitter-background);
      padding-bottom: 10px;
      cursor: pointer;
}


.post__body img
{
      width: 450px;
      object-fit: contain;
      border-radius: 20px;
}


.post__footer
{
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
}


.post__badge
{
      font-size: 14px !important;
      color: var(--twitter-color);
      margin-right: 5px;
}


.post__headerSpecial
{
      font-weight: 600;
      font-size: 12px;
      color: gray;
}


.post__headerText h3
{
      font-size: 15px;
      margin-bottom: 5px;
}


.post__headerDescription
{
      margin-bottom: 10px;
      font-size: 15px;
}


.post__body
{
      flex: 1;
      padding: 10px;
}


.post__icone
{
      padding: 20px;
}


.widgets 
{
      flex: 0,8;
}


.widgets__input 
{
      display: flex;
      align-items: center;
      background-color: var(--twitter-background);
      padding: 15px;
      border-radius: 20px;
      margin-top: 10px;
      margin-left: 30px;
      
}


.widgets__input input
{
     
      border: none;
      background-color: var(--twitter-background);
      outline: none;
      font-family: sans-serif;
      font-size: 15px;
      color: white;
}


.widgets__searchIcon
{
      color: gray;
      
}


@media (min-width:900px)
{
      aside {
          display: block;
           }
      nav> .sidebareOption span {
           display: block;
      }    
}


.trends-for-you
{
      
      margin-left: 30px;
      border-radius: 15px;
      background:var(--twitter-background);
}


.trends-for-you__block
{
     width: 350px;
      padding: 20px;
      border-bottom: 1px solid #e6ecf0;
      padding: 10px 15px;
      cursor: pointer;
}


.trends-for-you__heading
{
      font-size: 19px;
      font-weight: bold;
      color:white;
}


.trends-for-you__meta-information
{
      font-size: 13px;
      font-weight: 300;
      color: gray;
}


.trends-for-you__trend-name
{
      font-size: 15px;
      font-weight: bold;
      color: white;
      margin-top: 2px;
      margin-bottom: 5px;
}


.trends-for-you__block:hover 
{
      background-color: rgb(61, 61, 61);
      transition: color 100ms ease-out;
}


.post:hover
{
      background-color: rgb(17, 17, 17);
      transition: color 100ms ease-out;
}

